*{
    box-sizing: border-box;
    font-family: " Source Sans Pro";
}

:root{
    --bgColor : #802A8F;
    --bgFrom :#F0D0DD;
    --smalldevicesFontSize : calc(22/35)rem;
    --largedevicesFontSize : calc(53/85)rem;
}

html{
    font-size:  calc(35/500*100)vw;
}


@media screen and (min-width : 768px) {
    html {
        font-size:  calc(85/1920*100)vw;
    }
}
    
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}



header{
    width: 100%;
    background-color: white;
    position: sticky !important;
    top: 0;
    z-index: 1001;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (min-width : 768px) {
    header{
        padding: 20px 20px;
    }
}

header img{
    height: 32px;
    width: 88px;
}

@media screen and (min-width : 768px) {
    header img{
        height: 60px;
        width: 180px;
    }
}

header button{
    background-color: var(--bgColor) !important;
    padding: 17/4px 26.11px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 12x;
    line-height: 18px;
    padding: 6.2px 9.3px;

    height: 32px;
    width: 82px;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}


@media screen and (min-width : 768px) {
    header button{
        font-weight: 700;
        font-size: 26.11px;
        line-height: 39.16px;
        padding: 17px 26px;

        height: 52px;
        width: 180px;


    }
}

/* .accordion-button-icon::before {
    content: url('https://tse1.mm.bing.net/th?id=OIP.-hqTACHBE6Vk-7s2IsX3WgHaFj&pid=Api&rs=1&c=1&qlt=95&w=144&h=108') !important; /* Use the URL of your custom icon */
    /* Additional styles as needed */


.banner-text-container > div > h1{
    color: white;
    font-weight: 700;
    font-size: calc(35/85)rem;
}

.banner-text-container >div> h1 > span, .banner-text-container > div > p{
    color: #fff;
    font-weight: 500;
    background-color: var(--bgColor);
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: calc(22/35)rem;
}

@media screen and (min-width : 768px) {
    .banner-text-container > div > h1{
        font-size: calc(85/85)rem;
    }

    .banner-text-container > div > h1 > span, .banner-text-container > div> p{
        font-size: calc(53/85)rem;
    }
}


input,select {
    padding: 10px;
    font-size: calc(16/35)rem;
    font-weight: 400;
    background-color: white;
    border: none;
    border-radius: 5px;
}



input:focus, select:focus{
    outline: lightblue;
}


@media screen and (min-width : 768px) {
    input,select{
        padding: 10px;
        font-size: calc(33/85)rem;
    }
}


form{
    padding: 15px;
}

/* @media screen and (min-width : 768px) {
    form{
        padding: ;
    }
} */

form > div{
    text-align: center;
}


 form > h3{
    font-size: calc(22/35)rem;
    font-weight: 600;
 }


@media screen and (min-width : 768px) {
    form > h3{
        font-size: calc(53/85)rem;
    }

    input,select{
        padding: 10px;
    }
}

/* form > div{
    margin-top: 2vw;
} */

form > div > button{
    background-color: #802A8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: calc(22/35)rem;

}



.upto-off-card-container > img {
    height: 15vw ;
    width: 15vw;
}


@media screen and (min-width : 768px) {
    .upto-off-card-container > img{
        height: 9vw;
        width: 9vw;
    }
    form > div > button{
        font-size: calc(33/85)rem;
    
    }
    
}

.upto-off-card-container > p{
    text-align: center;
    font-size: var(--smalldevicesFontSize);
    width: 100%;

}

@media screen and (min-width : 768px) {
    .upto-off-card-container > p{
        font-size: calc(33/85)rem;
    }
}

.types-of-scans-text{
    font-size: var(--smalldevicesFontSize);
    font-weight: 700;
}

.types-of-scans-container h3,.types-of-scans-container > div > p,.types-of-scans-container > div> button, .carousel-item > p{
    font-size: calc(16/35)rem;
    font-weight: 600;
}

@media screen and (min-width : 768px) {
    .types-of-scans-text{
        font-size: var(--largedevicesFontSize);
    }
    .types-of-scans-container h3, .types-of-scans-container > div >p, .types-of-scans-container > div> button, .carousel-item > p{
        font-size:calc(33/85)rem;
    }
}


.types-of-scans-container > div> button{
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}




.carousel-item > div > p{
    font-size: calc(16/35)rem;
    font-weight: 400;
}

@media screen and (min-width : 768px) {

    .carousel-item > div > p{
        font-size: calc(33/85)rem;
    }
}




/* .accordion-body{
    background-color: rgba(240, 208, 221, 1);
}
.accordion-button {
    background-color: rgba(240, 208, 221, 1);
}
*/