* {
    font-family: "Source Sans Pro", sans-serif;
}

html{
    font-size: 4.4vw;
}

:root{
    --bgColor : #802A8F;
    --bgFromdiv :#F0D0DD;
    --formbg : #F2F2F2;
    --small-16-fontSuze : 0.72rem;
    --medium-33-font-size : 0.62rem;
    --small-88-width : 4rem;
    --small-32-height : 1.45rem;
    --small-padding-10 : 0.45rem;
    --small-padding-15 : 0.68rem;
    --medium-padding-10 : 0.18rem;
    --medium-padding-15 : 0.28rem;

    --small-padding-20 : 0.90rem;
    --medium-padding-20 : 0.37rem;
}


.thank-you-page-banner-container{
    background-image: url('assests/CION Website Banners v1-07.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--small-padding-20);
}

.thank-you-page-banner-container > h2{
    font-size: 1rem;
    font-weight: 600;
    color: var(--bgColor);
    width: 12.02rem;
}


.thank-you-page-banner-container > button{
    background-color: transparent;
    border: solid 2px var(--bgColor);
    border-radius: var(--small-padding-10);
    padding: var(--small-padding-15) var(--small-padding-20);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.52rem;
    font-weight: 600;
    color: var(--bgColor);
    height: 1.81rem;
    width: 5.9rem;

}


.thank-you-page-banner-container > button:hover{
    background-color: var(--bgColor);
    color: white;
    border: none;
}

@media screen and (min-width : 768px) {
    html{
        font-size: 2.76vw;

    }   
    .thank-you-page-banner-container > h2{
        font-size: 1rem;
        font-weight: 600;
        width: 15.86rem;
    }
    
}
